/*
*/

a {
  display:inline;
  color:black;
  text-decoration:none;
}

.body #header {
  text-align:center;
  color:Black;
  font-size:35px;
  font-weight:bold;
  display:block;
  border-bottom:1px solid gray;
  margin:0;
  padding:10px;
}

#grid {
  display:grid;
  grid-template-columns:450px 1fr;
}

#grid #nav {
  width: 400px;
  height: 600px;
  border-right: 1px solid gray;
  float: left;
  margin:0px;
  padding-top: 30px;
}

#grid ul {
  list-style: none;
  line-height: 50px;
  font-size: 30px;
  margin: 00px;
}

#grid #article {
  float:left;
  padding: 10px;
  padding-left: 20px;
}

#active {
  color:blue
}

#footer {
  text-align: center;
}

img {
  border: 1px solid black;
  padding: 0px;
  margin: 20px;
  float: right;
}

h2 {
  color: black;
  font-size: 25px;
  text-decoration: underline
}
